# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# Visual Studio / VSCode
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# macOS
.DS_Store

# Docker
mysql-data/
